{
    "trailingComma": "es5",
    "semi": true,
    "singleQuote": false,
    "proseWrap": "preserve",
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "tabWidth": 4
}
